@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@theme {
  --color-primary-bg: #423E3B;
  --color-secondary-bg: #0A2342;
  
  --color-primary-text: #E1E5EE;
  --color-secondary-text: #FFFECB;

  --font-sans: "Geom", sans-serif;
  --font-mono: "Space Mono", monospace;
}

:root {
  --base-roundness: 10px;
}

body, html {
  @apply h-screen w-screen;
  @apply bg-primary-bg;
}

.scroll-container {
  scroll-behavior: smooth;
  overflow-y: scroll;

  @apply grid snap-y snap-proximity max-h-screen;
}

section {
  @apply h-screen scroll-smooth snap-center grid grid-cols-1 md:grid-cols-2;
  @apply mx-auto max-w-4xl gap-12 my-auto items-center relative;
}

.view-next-example {
  @apply absolute rounded-xl px-4 py-2.5 bg-orange-400;
  @apply font-semibold text-white text-lg font-sans;
  @apply top-[80%] left-1/2 -translate-x-1/2 opacity-0;
  @apply border border-white/5 shadow shadow-white/5;
}

.table-container {
  @apply w-fit border rounded-(--base-roundness);
  @apply bg-white/5 border-white/5 shadow;
  @apply shadow-white/15;
}

tr:first-child > th {
  @apply border-b font-bold text-white;
  @apply border-white/10 font-sans;
}

td, th {
  @apply py-3 px-5 text-left;
}

.property {
  @apply text-primary-text font-semibold font-sans;
  @apply border-r border-white/5;
}

.value {
  @apply text-secondary-text font-bold font-mono;
}

.value > span {
  @apply font-normal text-orange-400 font-sans;
}

.example-target {
  @apply size-[200px] bg-orange-400 shadow-lg mx-auto;
}

.square {
  @apply rounded-lg;
}

.circle {
  @apply rounded-full;
}